<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h3><a href="/celebrities/create">Afegir Famós</a></h3>
<h3><a href="/celebrities/celebrities">Veure tots els famosos</a></h3>
<hr>
<h3><a href="/movies/create">Afegir Peli</a></h3>
<h3><a href="/movies/movies">Veure totes les pelis</a></h3>